/* Reset styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom properties */

:root {
    /* Gap */
    --big-gap: 4rem;
    --medium-gap: 2rem;
    --small-gap: 1rem;
    /* Margin */
    --big-margin: 4rem;
    --medium-margin: 2rem;
    --small-margin: 1rem;
    /* Padding */
    --big-padding: 4rem;
    --medium-padding: 2rem;
    --small-padding: 1rem;
    /* Fonts */
    --xl-font-size: 10rem;
    --large-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.75rem;
    /* Border radius */
    --small-border-radius: 1rem;
    --medium-border-radius: 2rem;
}

/* Body */

body {
    text-transform: uppercase;
    background-image: linear-gradient(whitesmoke, white);
}

/* Header */

#header {
    padding: var(--big-padding);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header - Name */

#app-name {
    font-weight: bold;
    font-size: var(--xl-font-size);
    display: flex;
}

/* Header - Progress */

#progress-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    font-size: var(--small-font-size);
}

#progress-bar-heading {
    letter-spacing: 2px;
}

#progress-bar {
    height: 1rem;
    width: 1rem;
    border-radius: var(--small-border-radius);
    background-color: black;
    animation: pan 6s infinite ease-in-out alternate;
}

@keyframes pan {
    50% {
        background-color: grey;
    }
    75% {
        background-color: whitesmoke;
    }
    100% {
        transform: translateX(250px);
        background-color: whitesmoke;
    }
}

/* Header - App Description */

#app-description {
    margin-top: var(--medium-margin);
    width: 50%;
    line-height: 1.5;
    color: grey;
    text-transform: none;
}

/* Content */

#content {
    padding: var(--big-padding);
    display: flex;
    flex-direction: column;
    gap: var(--big-gap);
}

/* Section */
 
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--medium-gap);
}

.section-heading {
    font-size: var(--large-font-size);
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--medium-gap);
}

/* Topic card */

.topic-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--medium-gap);
    width: 300px;
    background-color: whitesmoke;
    border-radius: var(--medium-border-radius);
    padding: var(--medium-padding);
    transition: all 600ms ease;
}

.topic-card:hover {
    box-shadow: 2px 2px 4px gray;
    transform: translateY(-2px);
}

.topic-name {
    font-size: var(--normal-font-size);
    font-weight: bold;
}

.note-icon,
.checkbox {
    cursor: pointer;
}

.description,
.progress {
    font-size: var(--small-font-size);
    text-align: center;
    letter-spacing: 1px;
    color: gray;
}

/* Footer */

#footer {
    padding: var(--medium-padding);
    text-align: center;
    background-color: gray;
    color: white;
}